<!DOCTYPE html>
<html>

<head>
  <title>Lista de Produtos</title>

  <style>
    body {
      font-family: Arial;
      background: #f2f2f2;
      padding: 20px;
    }

    .card {
      background: white;
      padding: 15px;
      border-radius: 8px;
      width: 400px;
      margin-bottom: 15px;
    }

    a {
      background: #4CAF50;
      padding: 8px 12px;
      color: white;
      border-radius: 5px;
    }
  </style>
</head>

<body>

  <h1>Lista de Produtos</h1>

  <a href="{% url 'cadastrar_produto' %}">Cadastrar Produto</a>

  {% for produto in produtos %}
  <div class="card">
    <h3>{{ produto.nome }}</h3>
    <p>Preço: R$ {{ produto.preco }}</p>

    <div style="margin-top: 10px;">
      <a href="{% url 'editar_produto' produto.id %}"
        style="background: #2196F3; padding: 6px 10px; color: white; border-radius: 5px; text-decoration: none; margin-right: 10px;">
        Editar
      </a>
      <a href="{% url 'excluir_produto' produto.id %}"
        style="background: red; padding: 6px 10px; color: white; border-radius: 5px; text-decoration: none;">
        Excluir
      </a>
    </div>
  </div>
  {% endfor %}


</body>

</html>